<html>
<head>
<link rel="stylesheet" href="static/basic.css" type="text/css">
</head>
<body>

<form method=post action="">
    <table> <!-- table with forms to the left and plot to the right -->
        <tr>
            <td>
                <table>
                {% for field in form %}
                <tr>
                    <!-- <td>{{ field.name }}</td>-->
                    <td>{{ field(size=7) }}</td>
                    <td>{{ field.label }}</td>
                    {% if field.errors %}
                    <td>
                        <ul class=errors>
                        {% for error in field.errors %}
                            <li><font color="red">{{ error }}</font></li>
                        {% endfor %}
                        </ul>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </table>
            </td>
            <td>
                <p>
                {% if result != None %}
                <img src="{{ result }}" width=500>
                {% endif %}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><input type=submit value=Compute></p>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
